.uniform-header { /* This is the class for the header which is our baseline for ALL  */
    color: white;
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    margin-top: 50px;
}

#video-background { /* This is the video background for the page */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-background video { /* This is the video background for the page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

body { /* This sets a uniform body for each page */
    font-family: "Lato", sans-serif;
    background-color: rgba(0, 255, 255, 0.3);
    color: black; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    margin: 0; 
    padding: 0 20px;
    box-sizing: border-box;
    position: relative; 
    justify-content: center;
    align-items: center;
}

h1 { /* This sets a uniform h1 for each page */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 { /* This sets a uniform h2 for each page using the !important which tells css to overwrite a style as opposed to whatever the base is */
    color: white !important;
    padding-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

h2#valh2 { /* This overwrites the base formatting in order to be visible on my InputValidation H2 Header h2 id="valh2" */
    color: black !important;
}

#subtitle { /* This sets a uniform subtitle for each page */
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

table { /* This sets a uniform table for the objectives page */
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

th, td { /* This sets the formatting for how the outline of the rows on the objectives page */
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) { /* This sets the formatting for the even rows on the objectives page */
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50; /* This sets the background color of the button to green */
    border: none; /* This defines the border of the button */
    color: white; /* This sets the color of the text */
    padding: 15px 64px; /* This defines the area around my text for the button. This determines H x W on the button */
    border-radius: 60px; /* This sets the border to be rounded. The higher the pixels, the more curved the corners become */
    text-decoration: none; /* This removes the underline from the text */
    font-size: 16px; /* This sets the font size */
    cursor: pointer; /* This sets the cursor to a pointer */
    margin-top: 20px; /* This sets the margin of the button*/
    box-shadow: 0 5px #999; /* This creates a shadow behind our button */
}

button:hover {
    background-color: #45a049; /* This sets the background color of the button to a darker green when hovered over */
}

button:active {
    background-color: #3e8e41; /* This sets the background color of the button to a darker green when clicked */
    box-shadow: 0 2px #666; /* This creates a shadow behind our button when clicked */
    transform: translateY(4px); /* This moves the button down 4 pixels when clicked */
}

#palindrome { /* This sets the formatting for the palindrome page */
    width: 300px; 
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#img { /* This sets the formatting for the navbar img */
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
}

#imageContainer { /* This sets the allignment formatting for the navbar img */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

#heheheha { /* This sets the formatting for the meme index page */
    max-width: 60%;
}

#validationForm label, /* This is the label design for the input box and text that says what it is for. The "," represents what is equivocally an and statement. This links to our form that we created */
#validationForm input {
    display: flex; 
    flex-direction: column; /* This sets the direction of the display to column so that the label and input are on top of each other */
    margin-bottom: 10px; /* This sets the margin from the bottom */
    border-radius: 20px; /* This sets the border to be rounded. The higher the pixels, the more curved the corners become */
    padding: 5px 5px; /* This sets the padding of the input box. The pixels seem small, but are larger than you think increasing it anymore will make it too big for our web page */
}

#validationForm input[class="Submit-button"] { /* This overwrites #validationForm for the specific input classified as "Submit-button" so that it can have it's own unique design */
    background-color: #4CAF50; /* This sets the background color of the button to green */
    border: none; /* This defines the border of the button */
    color: white; /* This sets the color of the text */
    padding: 15px 64px; /* This defines the area around my text for the button. This determines H x W on the button */
    border-radius: 60px; /* This sets the border to be rounded. The higher the pixels, the more curved the corners become */
    text-decoration: none; /* This removes the underline from the text */
    font-size: 16px; /* This sets the font size */
    cursor: pointer; /* This sets the cursor to a pointer */
    margin-top: 20px; /* This sets the margin of the button*/
    box-shadow: 0 8px #999; /* This creates a shadow behind our button */
}

#validationForm input[class="Submit-button"]:hover { /* This overwrites #validationForm for the specific input classified as "Submit-button" so that it can have it acquires the hover attribute */
    background-color: #45a049; /* This sets the background color of the button to a darker green when hovered over */
}

#validationForm input[class="Submit-button"]:active { /* This overwrites #validationForm for the specific input classified as "Submit-button" so that it can have it acquires the active attribute */
    background-color: #45a049; /* This sets the background color of the button to a darker green when clicked */
    box-shadow: 0 5px #666; /* This creates a shadow behind our button when clicked */
    transform: translateY(4px); /* This moves the button down 4 pixels when clicked creating the press down effect */
}

.inputContainer { /* This sets the formatting for the input container on the input validation page this way I can format all of my different box & buttons. */
    min-height: 100vh;
    margin-bottom: -550px;
}

.Objectives { /* This sets the formatting for the objectives page */
    display: flex;
    justify-content: center;
    align-items: center;
}

#objlist { /* This sets the formatting for the objectives list on the objectives page */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer { /* This sets the uniform formatting for the footer */
    display: flex;
    justify-content: flex-end;
    background-color: black; /* This sets the background color of the footer to green */
    color: white; /* This sets the color of the text */
    padding: 10px; /* This sets the padding of the footer */
    position: fixed; 
    bottom: 0; /* This sets the bottom of the footer to 0 */
    width: 100%; /* This sets the width of the footer to 100% */
    text-align: right; /* This sets the text alignment to the right */
}

.sidenav { /* This sets the formatting for the side navigation bar */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a { /* This sets the formatting for the side navigation bar links */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover { /* This sets the formatting for the side navigation bar links when hovered over */
    color: #f1f1f1;
}

.sidenav .closebtn { /* This sets the formatting for the close button on the side navigation bar */
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#result { /* This sets the formatting for the result on the palindrome page */
    color: white;
}

@media screen and (max-height: 450px) { /* This sets the formatting for the side navigation bar when the screen is less than 450px in height */
    .sidenav {padding-top: 15px;} /* This sets the padding of the side navigation bar when the screen is less than 450px in height */
    .sidenav a {font-size: 18px;} /* This sets the font size of the side navigation bar links when the screen is less than 450px in height */
}